<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>

    <link href="#{request.contextPath}/css/jumly.min.css" rel="stylesheet" type="text/css"/>
    <link href="#{request.contextPath}/css/style.css" rel="stylesheet" type="text/css"/>

    <script src="#{request.contextPath}/javascripts/coffee-script-1.7.1.js" type="text/javascript"/>
    <script src="#{request.contextPath}/javascripts/jquery-2.1.0.min.js" type="text/javascript"/>
    <script src="#{request.contextPath}/javascripts/jumly.min.js" type="text/javascript"/>
</h:head>
<h:body>
    <div class="ui-g-12" align="center" >
        <h2>BBBBL</h2>
        <h3>Đăng nhập</h3>
    </div>
    <div class="ui-g-12">
        <script type='text/jumly+sequence'>
@found "You", ->
  @message "meet", "JUMLY", ->
    @create "Contact", ->
      @message "smeels","JUMLY"
      @reply "200"
    @reply "200"
    @create "Contact2", ->
      @loop ->
        @create "Contact3", ->
          @ref "initialize"
</script>
    </div>
    <div class="ui-g-12" align="center">
        <h:form>
            <p:growl id="growl"/>
            <h:panelGrid columns="2">
                <h:outputLabel for="username" value="Tên Đăng Nhập"/>
                <p:inputText id="username" value="#{userLogin.username}" required="true" label="username">
                </p:inputText>
                <h:outputLabel for="password" value="Mật Khẩu"/>
                <p:password id="password" value="#{userLogin.password}"  required="true" label="password">
                    <f:validateLength minimum = "5" maximum = "20" />
                </p:password>
                <p></p>
                <h:message for = "password" style = "color:red" />
                <div></div>
                <p:selectBooleanCheckbox id="remember" value="#{userLogin.rememberMe}" label="Remember Me"/>
            </h:panelGrid>
            <p:commandButton value="Login" update="growl" action="#{userLogin.login}" />
            <p:commandButton value="Forgot password" update="growl" ajax="false"/>
        </h:form>
    </div>
</h:body>

</html>
